html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Yantramanav", sans-serif;
  background-color: rgba(12.5, 12.5, 12.5, 1);
  background-image: url("../images/bg.png");
}

html {
  scroll-behavior: smooth;
}

/* general styles */

.section-header {
  font-weight: 500;
  font-size: 3em;
}

.site-section {
  padding: 7.5em 0;
}

.color-orange {
  color: #f75c03;
}

.center-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav styles */

.navbar {
  padding: 0.33em 1em;
  font-family: "Yantramanav", sans-serif;
  background-color: rgb(15, 15, 15);
}

.navbar-brand {
  font-size: 1.75em;
  font-weight: 800;
  color: white;
}

.nav-item {
  padding: 0em 0.75em;
  font-size: 1.5em;
}

.nav-item > a {
  color: white;
}

.navbar-toggler {
  width: 40px;

  background-image: url("../images/hb-icon.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-toggler:focus {
  outline: rgba(0, 0, 0, 0);
}

/* home styles */

#home {
  color: white;
  overflow: hidden;
  text-align: center;
}

.logo {
  width: 80%;
}

#date-header {
  font-size: 10vw;
  margin-bottom: 2.5%;
  font-weight: 600;
}

#location-header {
  font-size: 7.5vw;
  margin-bottom: 5%;
  animation-delay: 250ms;
}

.about-img {
  width: 100%;
}

.signup-btn {
  font-size: 5vw;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 2% !important;
}

.signup-btn:focus {
  box-shadow: none;
}

.signup-btn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

#sponsor-btn {
  color: #f75c03;
  animation-delay: 1s;
}

#volunteer-btn {
  color: #d90368;
  animation-delay: 667ms;
}

#register-btn {
  color: #04a777;
  animation-delay: 334ms;
}

/* about styles */

.about-img {
  margin-bottom: 25px;
}

#about p {
  color: white;
  font-size: 1.5em;
}

/* faq styles */

#faq h1 {
  color: #d90368;
  text-align: center;
  margin: 1em 0;
}

.card {
  width: 90%;
  margin: 0 auto;
}

.card-header {
  background-color: black;
  color: white;
  border: none;
}

.card-header:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.card .btn-link:hover,
.card .btn-link:focus {
  text-decoration: none;
}

.card button {
  width: 100%;
}

.card .btn-link {
  font-size: 0.55em;
  font-weight: 600;
  color: #d90368 !important;
}

.card-text {
  font-size: 1.5em !important;
}

#guidelines .card {
  width: 90%;
}

#honor-code {
  font-size: 1em !important;
}

/* sponsor styles */

#sponsors h1 {
  color: #820263;
  text-align: center;
}

#sponsors img {
  width: 225px;
  margin: 2em 0;
  vertical-align: middle;
  animation-delay: 250ms;
}

#bldg {
  width: 165px !important;
}

/* contact styles */

#contact {
  color: #04a777;
  background-color: rgb(15, 15, 15);
}

#contact a {
  color: #04a777 !important;
}

#contact p {
  font-size: 0.5em;
}

.light {
  display: block;
  height: 1px;
  width: 165px;
  border: 0;
  border-top: 1px solid #2f343a;
  margin: 1em auto;
  padding: 0;
}

#copyright {
  color: #2f343a;
}

/* hover properties */

#about-link:hover {
  color: #f75c03;
}

#faq-link:hover {
  color: #d90368;
}

#sponsor-link:hover {
  color: #820263;
}

#contact-link:hover {
  color: #04a777;
}

.orange:hover {
  color: #f75c03;
}

.pink:hover {
  color: #d90368;
}

.purple:hover {
  color: #820263;
}

.green:hover {
  color: #04a777;
}

.navbar-brand:hover {
  color: white; /* Overwriting BS default */
}

/* Media queries */

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  #contact {
    font-size: 1em;
  }

  body {
    font-size: 12px;
  }

  .logo {
    height: auto;
    width: 600px;
  }

  .card .btn-link {
    font-size: 0.75em;
  }

  #hackreality {
    padding-top: 3.5em;
  }

  #hackreality h1 {
    font-size: 5em;
    margin-bottom: 50px;
  }

  #hackreality h2 {
    font-size: 3em;
    margin-bottom: 60px;
  }

  .signup-btn {
    font-size: 1.75em;
    float: right;
  }

  #hackreality h1,
  #hackreality h2 {
    text-align: right;
  }

  #about h1,
  #faq h1,
  #sponsors h1 {
    font-size: 3em;
    font-weight: 600;
  }

  #about h1 {
    text-align: left;
  }

  #about-xr h1 {
    text-align: right;
  }

  #guidelines .card,
  #first-time .card {
    width: 50%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
  }
}
