html,
body {
  height: 100%;
  font-family: "Yantramanav", sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

/* general header class styles */

.section-header {
  font-weight: 600;
}

/* nav styles */

.navbar-default {
  padding: 0.33em 1em;
  font-family: "Yantramanav", sans-serif;
  background-color: black;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 800;
  color: white;
}

.nav-item {
  padding: 0em 0.75em;
  font-size: 1.25em;
}

.nav-item > a {
  color: white;
}

/* home styles */

#home {
  text-align: center;
  color: white;

  height: 100%;
  width: 100%;

  margin-left: 0;
  margin-right: 0;

  /* background-image: url("../images/placeholder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.logo {
  margin-top: 15%;
  margin-left: 30%;
  width: 67%;
}

#hackreality {
  margin-top: 37.5%;
  margin-right: 30%;

}

#hackreality h1 {
  font-size: 5em;
  margin-bottom: 2.5%;
  text-align: right;
  font-weight: 700;


}

#hackreality h2 {
  font-size: 2.5em;
  margin-bottom: 10%;
  text-align: right;
  font-weight: 500;
}

#hackreality button {
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(0, 0, 0);
  float: right;

  margin-left: 0 !important;
}

#hackreality button:hover {
  background-color: rgb(255,255,255);
  color: black;
}


/* about styles */

#about {
  width: 66.7%;
  text-align: left;
  min-height: 300px;
}

#about h1 {
  color: #f75c03;
}

#about p {
  color: white;
}

/* faq styles */

#faq {
  width: 66.7%;
  min-height: 300px;
}
#faq h1 {
  color: #d90368;
  text-align: center;
}

.card {
  margin: 0 auto 1em;
  width: 75%;
}

.card-header {
  background-color: black;
  color: white;
  padding: 0;
}

.card-header:hover {
  background-color: rgb(255,255,255);
  color: black;
}

#faq button {
  color: white;
  background-color: black;
  
  text-decoration: none;
  width: 100%;
}

#faq button:hover {
  background-color: rgb(255,255,255);
  color: black;
}

.accordion {
  font-size: 1.25em !important;
}

/* sponsor styles */

#sponsors {
  width: 66.7%;
  min-height: 300px;
}

#sponsors h1 {
  color: #820263;
  text-align: right;
}

#sponsors img {
  width: 100%;
  margin: 1em 0;

}

/* contact styles */

#contact {
  color: #04a777;
}
#contact a {
  color: #04a777;
}

/***************/
/* NEW CHANGES */
/***************/

/* hover properties */

#about-link:hover {
  color: #f75c03;
}

#faq-link:hover {
  color: #d90368;
}

#sponsor-link:hover {
  color: #820263;
}

#contact-link:hover {
  color: #04a777;
}

.orange:hover {
  color: #f75c03;
}

.pink:hover {
  color: #d90368;
}

.purple:hover {
  color: #820263;
}

.green:hover {
  color: #04a777;
}

.navbar-brand:hover {
  color: white;       /* Overwriting BS default */
}