html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Yantramanav", sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
}

/* general header class styles */

.section-header {
  font-weight: 500;
}

.site-section {
  padding: 10em 0;
}

/* nav styles */

.navbar-default {
  padding: 0.33em 1em;
  font-family: "Yantramanav", sans-serif;
  background-color: rgb(15, 15, 15);
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: 800;
  color: white;
}

.nav-item {
  padding: 0em 0.75em;
  font-size: 1.25em;
}

.nav-item > a {
  color: white;
}

.navbar-toggler {
  width: 40px;

  background-image: url("../images/hb-icon.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-toggler:focus {
  outline: rgba(0, 0, 0, 0);
}

/* home styles */

#home {
  text-align: center;
  color: white;
  height: 100%;
  overflow: hidden;
}

.logo {
  width: 80%;
}

#hackreality {
  text-align: center !important;
}

#hackreality h1 {
  font-size: 10vw;
  margin-bottom: 2.5%;
  font-weight: 600;
}

#hackreality h2 {
  font-size: 7.5vw;
  margin-bottom: 5%;
}

#hackreality button {
  font-size: 5vw;
  font-weight: 600;

  /* text-align: center; */
  background-color: black;
  border: none;

  /* float: right; */

  margin-left: 2%   !important;
}

#hackreality button:focus {
  box-shadow: none;
}

#hackreality button:hover {
  background-color: rgb(255,255,255);
  color: black;
}

#sponsor-btn {
  color: #f75c03;
}

#volunteer-btn {
  color: #d90368;
}

#register-btn {
  color: #04a777;
}


/* about styles */

#about {
  min-height: 400px;
}

#about h1 {
  color: #f75c03;
  font-size: 7.5vw;
}

#about p {
  color: white;
  font-size: 1.5em;
}


/* faq styles */

#faq {
  min-height: 400px;
  
}
#faq h1 {
  color: #d90368;
  text-align: center;
  font-size: 7.5vw;
  margin: 1em 0;
}

.card {
  width: 90%;
  margin: 0 auto;
}

.card-header {
  background-color: black;
  color: white;
  border: none;

}

.card-header:hover {
  background-color: rgb(255,255,255);
  color: black;
}

.card .btn-link:hover, .card .btn-link:focus {
  text-decoration: none;
}

.card button {
  width: 100%;
}

.card .btn-link {
  font-size: 0.5em;
  font-weight: 600;
  color: #d90368;
}

.card-text {
  font-size: 1.5em !important;
}

#guidelines .card {
  width: 90%;
}

/* sponsor styles */

#sponsors {
  min-height: 400px;
}

#sponsors h1 {
  color: #820263;
  text-align: center;
  font-size: 7.5vw;
}

#sponsors img {
  width: 90%;
  margin: 1em 0;

}

/* contact styles */

#contact {
  color: #04a777;
  background-color: rgb(15, 15, 15);
  font-size: 1.5em;
}
#contact a {
  color: #04a777;
}

.light { 
  display: block; 
  height: 1px;
  width: 165px;  
  border: 0; border-top: 1px solid #2f343a;
  margin: 1em auto; padding: 0; 
}

#copyright {
  color: #2f343a;
}

/* hover properties */

#about-link:hover {
  color: #f75c03;
}

#faq-link:hover {
  color: #d90368;
}

#sponsor-link:hover {
  color: #820263;
}

#contact-link:hover {
  color: #04a777;
}

.orange:hover {
  color: #f75c03;
}

.pink:hover {
  color: #d90368;
}

.purple:hover {
  color: #820263;
}

.green:hover {
  color: #04a777;
}

.navbar-brand:hover {
  color: white;       /* Overwriting BS default */
}


.color-orange {
  color: #f75c03;
}

/* Media queries */

@media only screen and (max-width: 768px) {
  body{font-size: 10px;}
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) {

  body{font-size: 12px;}

  .logo {
    height: auto;
    width: 600px;
  }

  .card .btn-link {
    font-size: 0.75em;
  }

  #hackreality {
    padding-top: 3.5em;
  }

  #hackreality h1 {
    font-size: 5em;
    margin-bottom: 50px;
  }

  #hackreality h2 {
    font-size: 3em;
    margin-bottom: 60px;
  }

  #hackreality button {
    font-size: 1.75em;
    float: right;
  }

  #hackreality h1, #hackreality h2 {
    text-align: right;
  }

  #about h1, #faq h1, #sponsors h1 {
    font-size: 3em;
    font-weight: 600;
  }

  #about h1 {
    text-align: left;
  }

  #about-xr h1 {
    text-align: right;
  }

  #guidelines .card {
    width: 50%;
  }

  #sponsors h1 {
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  body{font-size: 16px;}
}